<section id="contact"
         class="bg-black text-white py-32">

  <!-- Title -->
  <div class="text-center mb-20 reveal-down">
    <h2 class="text-4xl md:text-5xl font-bold text-teal-400">Contact</h2>
    <p class="mt-4 text-gray-200 font-2xl">
      Let’s connect and create something impactful together.
    </p>
  </div>

  <div class="max-w-6xl mx-auto px-6 text-center">

    <p class="text-gray-300 text-xl leading-relaxed mb-10 reveal-down">
      I am always open to discussing new opportunities, collaborations, or freelance projects.
      Feel free to reach out through any of the platforms below.
    </p>

    <!-- Contact Info Cards -->
    <div class="grid grid-cols-3 gap-8 mb-12 reveal-right">

      @for (item of contacts; track $index) {

      <div class="bg-white/5 border border-white/10 rounded-xl p-6 hover:border-teal-400 transition cursor-pointer">

        <i class="{{ item.icon }} text-teal-400 text-2xl mb-3"></i>

        <p class="text-sm text-gray-400">
          {{ item.label }}
        </p>

        <p class="font-medium">
          {{ item.value }}
        </p>

      </div>
      }

    </div>

    <!-- Social Links -->
    <div class="flex justify-center gap-8">
      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/vishwa-frontend/"
         target="_blank">
        <div class="tooltip-container linkedin">
          <span class="tooltip left">LinkedIn</span>
          <span class="text">
            <div class="borde-back">
              <div class="icon">
                <i class="bi bi-linkedin"></i>
              </div>
            </div>
          </span>
        </div>
      </a>

      <!-- GitHub -->
      <a href="https://github.com/Vishwa-Sam"
         target="_blank">
        <div class="tooltip-container github">
          <span class="tooltip">GitHub</span>

          <span class="text">
            <div class="borde-back">
              <div class="icon">
                <i class="bi bi-github"></i>
              </div>
            </div>
          </span>
        </div>
      </a>

    </div>


  </div>

</section>