<section id="skills"
         class="bg-black text-white py-32">

  <!-- Title -->
  <div class="text-center mb-20 reveal-down">
    <h2 class="text-4xl font-bold text-teal-400">Skills</h2>
    <p class="mt-4 text-gray-200 font-2xl">
      My technical skill set built through hands-on projects and continuous learning.
    </p>
  </div>

  <!-- Skills Cards -->
  <div class="max-w-7xl mx-auto px-6 grid grid-cols-4 gap-28 reveal-right">

    @for (skill of skills; track $index) {

    <div class="card">
      <div class="card-content">

        <p class="text font-bold text-orange-400 text-lg">
          {{ skill.name }}
        </p>

        <p class="text-gray-300 text-sm mt-2">
          {{ skill.desc }}
        </p>

      </div>
    </div>
    }

  </div>

</section>